[0;1;32m●[0m messenger_app.service - Gunicorn instance for Messenger Integration
     Loaded: loaded (]8;;file://srv1118811/etc/systemd/system/messenger_app.service/etc/systemd/system/messenger_app.service]8;;; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;32mactive (running)[0m since Sun 2026-06-14 07:42:05 UTC; 27ms ago
   Main PID: 102458 (gunicorn)
      Tasks: 1 (limit: 9483)
     Memory: 4.8M (peak: 4.8M)
        CPU: 23ms
     CGroup: /system.slice/messenger_app.service
             └─[0;38;5;245m102458 /var/www/messenger_app/venv/bin/python3 /var/www/messenger_app/venv/bin/gunicorn --workers 3 --bind unix:/var/www/messenger_app/messenger.sock -m 007 app:app[0m

Jun 14 07:42:05 srv1118811 systemd[1]: Started messenger_app.service - Gunicorn instance for Messenger Integration.
